doctype
head
    title  Canvas Skeleton
    link(href='css/main.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css')
    script(src='js/canvas.js')
body
  #randBox1
    #val1
    #val2
  #sword
  #anvil
  #title
    h1. Click on Sword until Random numbers match
  #legendaryBox
    h1.
      Congratulations!!!
    p.
      You have been chosen to weild the sword. You are indeed a rare breed, destined to rule over mankind. Hey,
      but can you do me a favor? The delivery guy just came, like literally right now, and I really can't get the pizza right neow.
      Would you be kind enough to do that for me? Thanks, M'kay :)!




